*{
  margin:0px;
  padding:0px;
}

body{
  background-color: rgb(211,211,211);
}

div{
  height:400px;
  width:800px;
  border-radius: 40px;;
  margin:100px 0px 10px 110px;
  background-color:white;
}

img{
  height:100px;
  margin-left:50px;
  margin-top:40px;
  border:none;
}